# Production Dependencies
fastapi
uvicorn[standard]
SQLAlchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
aiokafka

# Development/Test Dependencies
pytest
pytest_asyncio
httpx
trio
asgi-lifespan
psycopg2-binary
