# Production Dependencies
fastapi
uvicorn[standard]
SQLAlchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
passlib
bcrypt==4.0.1
python-jose[cryptography]

# Development/Test Dependencies
pytest
pytest_asyncio
httpx
trio
asgi-lifespan
psycopg2-binary